<main>
    <div class="row">
        <div class="slider col s12 _m10 _l8 _push-s1 _push-m1 _push-l2">
            <ul class="slides">
                <li>
                    <img src="./img/produtos/agricultura0.png">
                    <div class="caption center-align">
                        <h3>Agricultura</h3>
                        <h5 class="light grey-text text-lighten-3">Corta Relvas, Pulverizador, Picarete...</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/produtos/eletrecidade3.png">
                    <div class="caption center-align">
                        <h3>Eletrecidade</h3>
                        <h5 class="light grey-text text-lighten-3">Dijuntores, Lâmpadas, Suporte...</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/corpo/pesca.png">
                    <div class="caption center-align">
                        <h3>Pesca</h3>
                        <h5 class="light grey-text text-lighten-3">Anzóis, Canas de Pesca...</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/produtos/ladrilho0.png">
                    <div class="caption center-align">
                        <h3>Ladrilho</h3>
                        <h5 class="light grey-text text-lighten-3">Mosáicos, Cimento cola...</h5>
                    </div>
                </li>
                <li>
                    <img src="./img/produtos/construcao1.png">
                    <div class="caption center-align">
                        <h3>Construção</h3>
                        <h5 class="light grey-text text-lighten-3">Formas, Carros de Mão, Marreta...</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row top-100px">
        <div class="center">
            <h2>Nossos Serviços</h2>
            <p style="font-size: xx-large;">Compre aqui na Loja Online e Nós vamos ate si!</p>
        </div>
        <img class="responsive-img" src="./img/corpo/nossosServicos.png" alt="Nossos Serviços">
    </div>
</main>