<main>
    <div class="row">
        <div class="col s0 m0 l3 hide-on-med-and-down">
            <div class="col s8">
                <div class="card card-user">
                    <div class="card-image">
                        <img id="imgUser" src="../img/user/userDefault.png">
                    </div>
                    <div class="card-content">
                        <span id="nomeUsuarioCard" class="card-title">{{nome}} <span>António</span></span>
                    </div>
                    <div class="card-btn">
                        <a href="/login" id="btnLogin" class="btn green modal-trigger"
                            style="width: 100%">Logar</a>
                        <a id="btnLogout" class="btn red" style="width: 100%">Sair</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="appendRecibo" class="col s10 m10 l7 push-s1 push-m1">

        </div>
    </div>
</main>

<div class="fixed-action-btn _horizontal click-to-toggle" style="bottom: 40px; right: unset">
    <a id="btnFixed2" class="btn-floating btn-large">
        <i class="fas fa-angle-down uping"></i>
    </a>
    <ul>
        <li><a class="btn-floating"><i class="fas fa-coins green"></i></a></li>
        <li><a class="btn-floating"><i class="fas fa-trash red"></i></a></li>
    </ul>
</div>